*,
body {
    font-family: Spoqa Han Sans Neo !important;
}

h1#Logo {
    width: auto;
}

#Logo a {
    display: block;
    max-width: 160px !important;
    width: 30vw;

    &::after {
        content: "";
        display: block;
        height: 0;
        padding-top: 80%;
        background-image: url(../../../public/assets/img/icon/hd_logo.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

        @media (max-width:990px) {
            background-image: url(../../../public/assets/img/icon/sub_logo.png);
        }
    }
}

#Login {
    top: 10px;
    right: 5%;

    a {
        font-size: 17px;
        color: black;
    }

    @media (max-width:990px) {
        position: unset !important;
    }
}

#menuicon {

    width: 30px;
    height: 30px;
    cursor: pointer;


    img {
        width: 30px;
        height: 30px;
    }
}

#Gnb a:not(#Login a) {
    font-family: Spoqa Han Sans Neo !important;
    color: #435585 !important;
    font-size: 19px;
    font-weight: bold;
}

#promotionSwiper .swiper-slide {
    position: relative;
}

#promotionSwiper .swiper-slide .effecttext {
    position: absolute;
    max-width: 500px;
    width: 50vw;
    right: 30%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: 1s;
    transform: translateY(50%);
    color: black;

}

#promotionSwiper .swiper-slide.swiper-slide-active .effecttext {
    transform: translateY(0);
    opacity: 1;
}

#promotionSwiper .effecttext p {
    font-size: 1.5rem;
    margin-top: 2rem;

    margin-left: 1rem;
}

#promotionSwiper .effecttext strong {
    font-size: 2rem;
}

.eventtext {
    font-family: Spoqa Han Sans Neo !important;

    margin-left: 3rem;
    font-size: 1rem;
    padding-top: 70px;

}

.eventbanner {

    display: block;
    margin-bottom: 10px;
    border-radius: 30px !important;


}