*,
body {
    font-family: Spoqa Han Sans Neo !important;

}

#Logo {
    width: 146px;
}


#Logo a {
    display: block;
    max-width: 146px !important;
    width: 30vw;
}

#Logo a::after {
    content: '';
    display: block;
    height: 0;
    padding-top: 146px;
    background-image: url(../assets/img/icon/hd_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#Gnb a {
    font-size: 20px;
    font-weight: 500;
}

#signsection {
    height: 0;
}

#signsection ul {
    margin: 0 0;
    height: 1rem;
    line-height: 2;
}

#languageSelect {
    height: 2rem;
}